<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table style="width: 100%; border-spacing: 0px; border: 0px; border-collapse: collapse;">

        <!-- Top Row -->
        <!-- Adjust the height to fit your logo -->
          <tr id="logo" style="height: 150px;">
        
        <!-- Row 1 Column 1 -->
        <!-- Adjust background color as desired for your branding -->
            <td style="width: 15%; background-color: #ff6f1c; border: 0px; border-collapse: collapse;"></td>
        <!-- Row 1 Column 2 -->
        <!-- Adjust the source URL for your logo location and color as needed -->
            <td  style="width: 70%; background-color: #ff6f1c; text-align: center; border: 0px; border-collapse: collapse;">
              <img src="https://path/to/your/logo/logo.png" alt="" />
            </td>
        <!-- Row 1 Column 3 -->
        <!-- Adjust background color as desired -->
            <td style="width: 15%; background-color: #ff6f1c; border: 0px; border-collapse: collapse;"></td>
          </tr>
        
        <!-- Second Row -->
        <!-- Message Header. -->
          <tr id="contentHeader">
        <!-- Row 2 Column 1 -->
        <!-- Adjust background color as desired -->
            <td style="width: 15%; background-color: #ff6f1c; border: 0px; border-collapse: collapse;"></td>
        <!-- Row 2 Column 2 -->
        <!-- Adjust background color as desired -->
        <!-- Swap out text as your company desires -->
            <td style="width: 70%; background-color: white; padding-top: 10px; padding-left: 10px; padding-right: 10px; border: 0px; border-collapse: collapse;">
              <h3 style="text-align: center; color: #ff6f1c;">Reseller Sprint Notification</h3>
              <h4>Hello {{firstName}}</h4>
              <hr style="width: 70%; text-align: center;">
              <br />
        <!-- Row 2 Column 3 -->
        <!-- Adjust background color as desired -->
            <td style="width: 15%; background-color: #ff6f1c; border: 0px; border-collapse: collapse;"></td>
          </tr>
        
        <!-- Third Row -->
        <!-- Main body. -->
          <tr id="content">
        <!-- Row 3 Column 1 -->
        <!-- Adjust background color as desired -->
            <td style="width: 15%; background-color: black; border: 0px; border-collapse: collapse;"></td>
        <!-- Row 3 Column 2 -->
        <!-- Swap out your own message, shortcodes, and closing-->
        <!-- Adjust background color as desired -->
            <td style="width: 70%; background-color: white; padding: 10px; border: 0px; border-collapse: collapse;">
              <p>{{message}}</p>
              <p>Thank you,<br />
                The Reseller Sprint Team
              </p>
              <br />
            </td>
        <!-- Row 3 Column 3 -->
        <!-- Adjust background color as desired -->
            <td style="width: 15%; background-color: lightgrey; border: 0px; border-collapse: collapse;"></td>
          </tr>
        
        <!-- Fourth Row -->
          <tr id="footer">
        <!-- Row 4 Column 1 -->
            <td style="width: 15%; background-color: lightgrey; border: 0px; border-collapse: collapse;"></td>
        <!-- Row 4 Column 2 -->
        <!-- Adjust background color, text color, and text size as desired -->
        <!-- Swap out your own contact information -->
            <td style="width: 70%; padding: 10px; background-color: #5f6369; border: 0px; border-collapse: collapse;">
              <p style="text-align: center; color: white; font-size: 10pt;">
                Reseller Sprint<br />
                All in One Catalogue<br />
                AMBank House, 214, 90303
              </p>
              <p style="text-align: center; color: white; font-size: 10pt;">
                +254713144386<br />
                admin@resellersprint.com
              </p>
            </td>
        <!-- Row 4 Column 3 -->
        <!-- Adjust background color as desired -->
            <td style="width: 15%; background-color: lightgrey; border: 0px; border-collapse: collapse;"></td>
          </tr>
        
        <!-- Fifth Row -->
          <tr id="endTable">
        <!-- Row 5 Column 1 -->
        <!-- Adjust background color as desired -->
            <td style="width: 15%; background-color: black; border: 0px; border-collapse: collapse;"></td>
        <!-- Row 5 Column 2 -->
        <!-- Adjust background color as desired -->
            <td style="width: 70%; background-color: black; border: 0px; border-collapse: collapse;"></td>
        <!-- Row 5 Column 3 -->
        <!-- Adjust background color as desired -->
            <td style="width: 15%; background-color: black; border: 0px; border-collapse: collapse;"></td>
          </tr>
        </table>
</body>
</html>